<!Doctype>
<html>
  <head>
    <title>
      Logolizer
    </title>
    {% load staticfiles %}
    <link href="{% static 'css/main.less' %}" rel="stylesheet/less" type="text/css" />
    <script src="{% static 'js/less-1.3.3.min.js' %}"></script>
    <script data-main="{% static 'js/main' %}" src="{% static 'js/require.js' %}"></script>
  </head>
  <body>
    <a href="{% url 'login' %}" id="logo">LogoLizer</a>

    {% include 'flash.html' %}
    {% include 'preloader.html' %}

    {% block body %}
    {% endblock %}

    <span id="trade">&copy; LogoLizer Ltd. 2000 - 2013</span>
  </body>
</html>
